<form action="https://formspree.io/f/xzbwyqyr" method="POST">
    <div class="col col-10 push-2 col-11 push-t-1 col-m-12 push-m-0">
        <div><label>First Name</label></div>
        <div><input style=" width: 100%" type="text" name="firstname"></div>

        <div><label>Last Name</label></div>
        <div><input style="width: 100%" type="text" name="lastname"></div>

        <div><label>Subject</label></div>
        <div><input type="text" name="subject" style="width: 100%"> </div>

        <div><label>Message</label></div>
        <div><textarea name="message" style="height:200px; width: 100%"></textarea>
        </div>
        <!-- your other form fields go here -->
        <div class="nav__link"><button type="submit">Send message</button></div>
    </div>
</form>